requests
docling
opensearch-py
sentence-transformers
tqdm
chromadb
qdrant-client
faiss-cpu
fastapi
uvicorn[standard]
python-multipart
boto3
python-dotenv
openai
google-generativeai
psycopg2-binary
numpy
pandas
